@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
    display: flex;
    align-items: center;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensure the body takes the full height of the viewport */
    margin: 0; /* Remove any default margin */
    background: rgb(0,0,0);
    background: linear-gradient(141deg, rgba(0,0,0,1) 0%, rgba(79,79,79,1) 100%);
    color: white;
}

#welcomeMessage {
    background: rgb(3,255,0);
    background: linear-gradient(146deg, rgba(3,255,0,1) 0%, rgba(1,233,154,1) 16%, rgba(0,212,255,1) 31%, rgba(164,0,255,1) 59%, rgba(255,0,217,1) 81%);
    padding: 30px;
    animation-duration: 1s;
    position: relative;
    color: white;
}

.click {
    padding-top: 30px;
    font-size: larger;
}
.text {
    font-family: "JetBrains Mono", monospace;
    background-color: rgb(52, 56, 56);
    width: 100px;
    height: 100px;
    font-size: 50px;
    color: white;
    text-shadow: 0px 0px 5px black;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;  
    position: relative;
}

.text:hover {
    transition: all 0.3s ease;
    transform: translateY(-10px);
} 

.fromWelcomeToMain {
    animation: fromWelcomeToMain 1s forwards;
}

.fromWelcomeToMain2 {
    animation: fromWelcomeToMain2 1s forwards;
}

.textContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

@keyframes fromWelcomeToMain {
    to {
        transform: translateY(-50vmax);
    }
}

@keyframes fromWelcomeToMain2 {
    to {
        opacity: 0;
    }
}